.container-event {
  display: inline-block;
  margin: 50px;
  background-color: #bbb;
  color: black;
  text-align: left;
  border-radius: 5px;
}
.collumn-left {
  float: left;
  width: 40%;
  margin: 0px;
  height: 530px;
}
.collumn-right {
  float: right;
  width: 40%;
  margin: 0px;
  height: 530px;
}

.styles {
  color: white;
  background-color: black;
  margin-right: 5px;
  margin-bottom: 20px;
  padding: 5px;
}
.event-image {
  max-width: 800px;
  height: auto;
  border-top-left-radius: 5px;
}
